<div class="post-form-component">
	<h5 class="title"><span>{{postDetails ? 'Edit' : 'Create' }} Post</span><button class="btn-new" *ngIf="postDetails" (click)="clearForm()">New!</button></h5>
	<form class="post-form needs-validation" [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="col-12">
		    <input type="text" id="title" formControlName="Title" placeholder="Title"
		    [class.is-invalid]="title?.invalid && title?.touched" class="form-control rounded border-0" required>
		    <span class="validation-note text-danger" [class.d-none]="title?.valid || title?.untouched">Title is required</span>
		</div>
		<div class="col-12 my-4">
		    <textarea type="textarea" id="content" formControlName="content" placeholder="Content" [class.is-invalid]="content?.invalid && content?.touched" class="form-control rounded border-0 form-content"></textarea>
		    <span class="validation-note text-danger" [class.d-none]="content?.valid || content?.untouched">Content is required</span>
		</div>
		<button type="submit" class="btn-submit">{{postDetails ? 'Update' : 'Create' }} Post</button>
	</form>
</div>