<ng-container>
	<div class="post__header" style="">
	    <div class="post__monthdate">
	        <div class="post__month">{{postDetails.createdAt | date: 'MMM'}}</div>
	        <span class="post__date">{{postDetails.createdAt | date: 'dd'}}</span>
	    </div>
	    <div class="post__headline">
	        <h4 class="post__title">{{postDetails.Title}}</h4>
	        <span class="post__createdon">{{postDetails.createdAt | date: 'EEE hh:mm aa'}}</span>
	    </div>
	</div>
	<p class="post__content">
		{{postDetails.content}}
	</p>
	<button (click)="editPost(postDetails.id)" class="btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
</ng-container>
