@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$theme-colors: (
	"light-gray": #F1F4F7,
	"light-blue": #97CAFB,
	"medium-blue": #74B0EF,
	"dark-blue": #3F71A4,
	"very-dark-blue": #252D3C,
	"dull-violet": #B1A6B1,
	"bright-blue": #36B4D3,
	"brown": #BA6142
);

// root styles

html, body{
    margin: 0 !important;
    padding: 0 !important;
}

html {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

*:focus{
    outline: none !important;
}

ul, ol {
	list-style: none;
	padding: 0;
}

// logo

.logo {
	position: absolute;
	top: 20px;
	left: 1.5rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	.logo__img {
		height: 35px;
	}

	.heading {
		text-transform: uppercase;
		font-size: 1.25rem;
		letter-spacing: 1px;
	}
}
	
.main-content {
    margin: 60px 0 0 0;
    padding: 1rem;	
}

// Users List 

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darken(map.get($theme-colors, "light-gray"), 10%); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(map.get($theme-colors, "light-gray"), 20%); 
}

.users-list-component {
	background-color: map.get($theme-colors, "light-gray");
	padding: 0.75rem;
	border-radius: 0.5rem;
	max-height: 85vh;
	height: fit-content;
	overflow-y: scroll;
	overflow-x: hidden;

	.title {
		font-size: 0.75rem;
		letter-spacing: 1px;
		font-weight: 500;
		text-transform: uppercase;
		color: darken(map.get($theme-colors, "light-gray"), 50%);
		margin: 0.5rem 0.5rem 1rem; 
	}
}

.active {
	background-color: darken(map.get($theme-colors, "light-gray"), 5%);
}

.user-link {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: black;
	margin: 0.5rem 0;
	padding: 0.25rem 0.5rem;
	border-radius: 10px;

	&:hover {
		background-color: darken(map.get($theme-colors, "light-gray"), 5%);
	}

	.user-profile {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	.user-details {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.user-name {
			font-size: 0.8rem;
			font-weight: 500;
			text-transform: capitalize;
		}

		.user-posts-count {
			height: 1.05rem;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: darken(blue, 15%);
			color: map.get($theme-colors, "light-gray");
			font-size: 0.75rem;
			font-weight: 500;
			border-radius: 1rem;
		}
	}
}

// posts section

.posts-list {
	padding: 0 2rem;
}

.post {
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 0 1rem 1rem lighten(map.get($theme-colors, "light-gray"), 2%);
	margin-bottom: 2rem;
	position: relative;

	.post__title {
		font-size: 1rem;
		width: 98%;
	}

	.post__content {
		font-size: 0.95rem;
		color: darken(map.get($theme-colors, "light-gray"), 50%);
		margin: 0;
	}

	.btn-edit {
		border: 0;
		position: absolute;
		top: 1rem;
		right: 1rem;
		background-color: transparent;

		&:hover {
			color: lighten(blue, 10%);
		}
	}
}

.edit-post-component {
	background-color: map.get($theme-colors, "light-gray");
	padding: 0.75rem;
	border-radius: 0.5rem;
	max-height: 85vh;
	height: fit-content;

	.title {
		font-size: 0.75rem;
		letter-spacing: 1px;
		font-weight: 500;
		text-transform: uppercase;
		color: darken(map.get($theme-colors, "light-gray"), 50%);
		margin: 0.5rem 0.5rem 1rem; 
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn-new {
			border: none;
			background: transparent;
			font-weight: 700;
			color: darken(blue, 20%);
		}
	}

	.edit-post-form {
		margin: 0 0.5rem;
		padding: 1rem 0;
		font-size: 1rem;

		.form-content {
			min-height: 300px;
		}

		.btn-submit {
			width: 100%;
			text-align: center;
			border-radius: 10px;
			border: none;	
			background-color: #00edf5;		
			color: darken(blue, 20%);
			padding: 0.5rem 0;
			font-weight: 500;
			letter-spacing: 1px;

			&:hover {
				background-color: darken(#00edf5, 5%);		
			}
		}

		.validation-note {
			font-size: 0.8rem;
		}
	}
}