<div *ngIf="posts" class="row">
	<ul class="posts-list col-12 col-lg-7 p-0 px-md-4 px-lg-3 mt-4 mt-lg-0 order-2 order-lg-1">
		<ng-container *ngIf="!isLoading; else loaderBlock">
			<ng-container *ngIf="posts.length; else noPostsBlock">
				<li *ngFor="let post of posts" class="post">
					<post [postDetails]="post" (buttonClick)="openEditPost($event)"></post>
				</li>
			</ng-container>
		</ng-container>
		
	</ul>
	<div class="col-12 col-lg-5 p-0 px-md-4 pe-lg-0 ps-lg-3 order-1 order-lg-2">
		<post-form [postDetails]="selectedPost" (updatePosts)="updatePostsList($event)" (clearPostDetails)="clearSelectedPost()"></post-form>
	</div>
</div>
<ng-template #loaderBlock>
	<loader></loader>
</ng-template>
<ng-template #noPostsBlock>
	<p class="no-posts-message">No posts by user</p>
</ng-template>